<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xph.shop.dao.GoodsMapper">
<select id="findPage" parameterType="com.xph.shop.vo.SpuVo" resultType="com.xph.shop.vo.SpuVo">
  select s.id,s.sn,s.is_marketable isMarketable,audit_status auditStatus,s.image,s.name,b.name brandName ,s.sale_num saleNum from tb_spu s
  left join tb_brand b on s.brand_id =b.id
  <where>
    <if test="name!=null and name!=''">
      and (s.name like '%${name}%' or s.sn like '%${name}%')
    </if>
    <if test="brandId!=null and brandId!=''">
      and s.brand_id=#{brandId}
    </if>
    and s.is_delete ='0'
  </where>
    order by s.createdate desc ,s.updatedate desc
</select>
</mapper>